*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

/* h1{
    background-color: lightblue;
    display: inline-block;
}

#box{
    height: 200px;
    width: 200px;
    background-color: coral;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
} */

/* #parent{
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 20% 50% 20% 50%;
    grid-template-rows: 30% 50% 10% 10%;
} */

/* .child{
    height: 100px;
    width: 100px;
    background-color: pink;
}

.child:nth-last-child(2n){
    background-color: coral;
} */
/* .child:nth-child(2){
    background-color: lightblue;
}
.child:nth-child(3){
    background-color: violet;
} */

/* .box{
    background-color: coral;
    border: 5px solid black;
} */
/* .box:nth-child(4n+1){
    background-color: lightblue;
}
.box:nth-child(4n+2){
    background-color: lightgreen;
}
.box:nth-child(4n+3){
    background-color: violet;
} */

h1{
    /* background: linear-gradient(red,blue); */
    color: white;
    font-size: 200px;
    text-align: center;
    font-weight: bold;
    background-image: url(https://imgs.search.brave.com/fdRiG9VmpGcXKI4tMRVR7t5hMSwm4yuuYfKjLTvCrSc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzMxLzY3/LzgwLzMxNjc4MDcx/MzYzMWMxNTUzOWUw/ZWJkZGQ3ZThhNTcy/LmpwZw);
    color: transparent;
    background-clip: text;
    -webkit-text-stroke: 3px rgb(14, 14, 185);
}