*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    height: 100%;
    width: 100%;
    background-color: rgb(61, 60, 60);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh;
}

p{
    color: green;
    font-size: 2rem;
    font-weight: 600;
} */

.box{
    height: 400px;
    width: 400px;
    border: 1px solid white;
    background: linear-gradient(300px at 100px 100px, white,red,purple);
}