*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}

html,body{
    height: 100%;
    width: 100%;
}

/* understanding about the boiler plate */

/* #box1{
    height: 100px;
    width: 100px;
    background-image: url(https://media.istockphoto.com/id/2162014024/photo/classic-american-muscle-car.jpg?s=1024x1024&w=is&k=20&c=aMYIMzO_0ZOR7uktkUChEC-xsEubyFKGYE9IH0MvpMQ=);
    background-size: cover;
    background-position: center;
    transform: scale(1);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;
} */
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(60, 98, 110);
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}



.card{
    height: 300px;
    width: 350px;
    background-color: white;
    position: relative;
    transition: all ease-in 1s;
    overflow: hidden;
    border-radius: 20px;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#bottom{
    height: 40%;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent,rgb(19, 18, 18));
    transition: all ease-in 0.3s;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

#bottom h3 i{
    background-color: white;
    font-size: 24px;
    padding: 5px 7px;
    border-radius: 50%;
    cursor: pointer;
}

#bottom h4{
    color: white;
}
.card:hover #bottom{
    bottom: 0;
}
