@import "tailwindcss";

.sale{
    background-color: red;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(42, 42, 42);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer button{
    padding: 10px 20px;
    background-color: lightseagreen;
}