*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    
}

button{
    padding: 10px 20px;
    background-color: orange;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9;
} 

button:active{
    scale: 0.95;
}