*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(255, 253, 249);
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1 rem;
  padding-inline: 3 rem;
}

.note-create{
  display: flex;
  gap: 1rem;
  padding-inline: 3rem;
  padding-block: 1rem;
}

.delete{
  gap: 3rem;
}

.update{
  gap: 2rem;
  margin-left: 2rem;
}