*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#box{
    background-color: red;
    height: 250px;
    width: 250px;
}