*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100%;
    width: 100%;
}

form{
    padding: 20px;
    background-color: #333;
    display: flex;
    gap: 10px;
}

input,button{
    padding: 10px 20px;
    
}