*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#car1{
    height: 200px;
    width: 300px;
    background-color: red;
}

#minicar{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: yellow
}
 
#f1{
    height: 80px;
    width: 80px;
    background-color: black;
}
#f2{
    left: 200%;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
}
/* #car2{
    height: 200px;
    width: 300px;
    background-color: green;
} */

/*
#car3{
    height: 400px;
    width: 500px;
    background-color: blue;;
} */