*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: red;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: green;
}
#box3{
    height: 200px;
    width: 200px;
    background-color: blue;
} */

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    height: 80px;
    width: 100%;
    background-color: rgb(36, 33, 33);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 20px;
    color: white;
}

h4{
    color: white;
    font-weight: 300;
}

#center{
    height: 80%;
    width: 100%;
    background-color: rgb(14, 11, 11);
    background-size: contain;
    background-position:center center;
    text-align: center;
    padding: 50px;
    background-image: url('https://imgs.search.brave.com/fD8E4YndWhkpIx7csyfp-D6i8Ayx23lhHIGBwpfPsv4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly80a3dh/bGxwYXBlcnMuY29t/L2ltYWdlcy93YWxs/cy9wYWNrcy8zNzku/anBn');
    background-repeat: no-repeat;
}

#center h1{
    color: white;
}

#center h3{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#links button{
    background-color: royalblue;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    gap: 10px;
    font-weight: 300;
    margin-top: 15px;
    border: none;
}