*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;

}

img{
    height: 50%;
    width: 50%;
}