body{
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
}
button{
    margin-top: 150%;
    padding: 10px 20px;
    color: white;
    background-color: red;
    position: relative;
    z-index: 0;
}

button:active{
    scale: 0.95;
}