*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

div{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    
}

div img{
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    
}