*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    height: 100%;
    width: 100%;
}

button{
    padding: 10px 20px;
    background-color: cyan;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.women{
    background-color: pink;
    color: white;
    font-weight: 600;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}

.men{
    background-color: rgb(30, 82, 161);
    color: white;
    font-weight: 600;
    margin-top: 20px;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}