*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

.name{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 30px;
    background-color: rgb(6, 6, 77);
    box-shadow: 0 0 5px rgba(0, 0, 0.1);
    border-radius: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

header{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #e9ecef;
}

h1{
    font-size: 2.8rem;
    color: white;
    margin-bottom: 10px;
    font-weight: 700;
}

.tagline{
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 500;
    color: white;
}

.divider{
    height: 3px;
    width: 80px;
    background: linear-gradient(to right,#3488db,#2c3e50);
    margin: 0 auto;
    border-radius: 0.2px;
}

/* about-section */

.about-section{
    max-width: 900px;
    padding: 30px;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 15px;
    padding-bottom: 8px;
    color: black;
   
}

.about-content{
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
}

.education-section{
    margin: 900px;
    max-width: 1000px;
    padding: 15px 40px;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0.1);
    height: 250px;
    background-color: rgb(170, 214, 241);
}

.education-item{
    margin-bottom: 10px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.education-contact{
    margin-bottom: 10px;
    padding: 15px 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.education-cnt{
     text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 1px;
}
.education-skills{
    margin: 900px;
    max-width: 1000px;
    padding: 15px 40px;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0.1);
    height: 370px;
    background-color: rgb(241, 171, 142);
}

.education-proj{
    margin: 900px;
    max-width: 1000px;
    padding: 15px 40px;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0.1);
    height: 400px;
    background-color: rgb(238, 181, 238);
}

.education-cntme{
    margin: 900px;
    max-width: 1000px;
    padding: 15px 40px;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 1px rgba(0, 0, 0.1);
    height: 400px;
    background-color: lightblue;
}
.education-title{
    text-align: center;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 5px;
}

.education-project{
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: large;
    color: #2c3e50;
    margin-bottom: 1px;
}

.education-quality{
    text-align: center;
    font-weight: 900;
    font-size: large;
    color: #2c3e50;
    margin-bottom: 1px;
}
.education-details{
    color: #666;
    font-size: 0.95rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 2px solid #e9ecef;
    background-color: rgb(6, 6, 77);
    color: white;
}